

body { background-color: #77ACB9; }

#canvas {
    overflow:hidden;
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 20%;
    border: solid 5px;
    height: 550px;
    width: 760px;
    border-radius: 21px 28px 28px 28px;
}

#points {
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 1%;
    border: solid 5px;
    height: 550px;
    width: 225px;
    border-radius: 21px 28px 28px 28px;
}

#letrero {
    position: fixed;
    top: 1%;
    left: 30%;
	height: 65px;
    width: 500px;
}


.chat {
	background-color: #FFFFFF;
    position: fixed;
    top: 10%;
    left: 71%;
    border: solid 5px;
    height: 550px;
    width: 325px;
    border-radius: 21px 28px 28px 28px;
}



.buttonsBlock {
    background-color: #FFFFFF;
    position: fixed;
    top: 74%;
    left: 81%;
    height: 110px;
    width: 225px;
    border-radius: 21px 28px 28px 28px;

}

.button {
    margin: 10px;
}
#html5colorpicker {

}
.scrollableBox {
    word-wrap: break-word;
    overflow: auto;
    max-height: 95%;
    padding: 5px;
}

.myPlayer {
    color: green;
}

.otherPlayer{
    color: red;
}
#relojBox {
    padding-bottom: 5px;
    margin-left: 100px;s
}

#reloj {
    font-size: 2.6em;
    color: red;
}